
[Unit]
Description=rssread http server

[Service]
Type=simple
User=mickael
Group=users
WorkingDirectory=/home/mickael/Dev/rss_read/
ExecStart=/home/mickael/Dev/rss_read/start_server.py

[Install]
WantedBy=multi-user.target

